<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/new동행.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Hackathon held at University </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>This project is for Hackathon Contest held at Pusan University. The project was designed to develop apps. And the app was designed with AndroidStudio based on Java. Details can be found through the link below.</p>
    <a class="project-link" href="https://github.com/know0329/Just-complete">github link</a>
    <a class="project-link" href="https://www.youtube.com/watch?v=RArmRIkI-aI">YouTube</a>
    
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/vblab.PNG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Fish classification/ Weight estimation </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p> This project is Graduation assignment. This project contaions of systems. One of systems is fish classification. Another is weight estimation system. The weight estimation system estimates the weight based on the length of the fish. </p>
    <a class="project-link" href="https://github.com/DOHYEON98/HACOM">github link</a>
  </div>
</div>
